.cart {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart__items {
  flex: 70%;
  display: flex;
  flex-direction: column;
}

.cart__summary {
  color: var(--blue_dark);
  margin: 50px;
  height: 250px;
  flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(16, 202, 235, 0.26);
  border-radius: 10px;
}

.summary__title {
  font-size: 30px;
  font-weight: bold;
}

.summary__price {
  display: flex;
  align-items: center;
}

.summary__price span:nth-child(1) {
  font-size: 20px;
  flex: 0.6;
}

.summary__price span:nth-child(2) {
  flex: 0.4;
  font-size: 30px;
  font-weight: bold;
}

.summary__checkoutBtn {
  padding: 10px;
  border: 1px solid var(--blue_cyan);
  border-radius: 10px;
  background: transparent;
  color: var(--blue_dark);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.summary__checkoutBtn:hover {
  outline: none;
  background: var(--blue_cyan);
  color: var(--black__dark);
}

.summary__checkoutBtn:hover {
  opacity: 0.75;
}

.modal {
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  outline: none;
}

.modal__content {
  width: fit-content;
  color: aqua;
}

table {
  width: 100%;
}
th {
  border: 1px solid var(--blue_dark);
}

hr {
  border-color: aqua;
}
